abi/
artifacts/
cache/
coverage/
exports/
node_modules/
types/
deployments/
typechain/
package-lock.json
coverage.json
.env
.DS_Store
/hardhatinfo.json
/contractinfo.txt
/*.lock
/*.log
/deployresult_localhost.json
/deployresult_hardhat.json
/*.exe
